.left { 
    margin-top: 75px;
}

.down { 
    margin-top: 155px;
    margin-left:-120px ;
}

.right { 
    margin-top: 75px;

}

.box { 
    background: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.boxc { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}